.footer {
    background-color: var(--grey-two);
    margin-top: -277px;
    padding-top: 227px;
}

.section-wrapper {
    display: flex;
    margin-left: 372px;
    padding-bottom: 97px;
}

.section-wrapper>section {
    width: 200px;
    margin-right: 16px;
}

.section-wrapper>.your-account {
    margin-right: 35px;
}

.section-wrapper>.lookbook {
    margin-right: 66px;
}

.section-wrapper>.contact {
    width: 250px;
}

.information-title,
.my-profile-title,
.your-account-title,
.lookbook-title,
.contact-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    color: var(--dirty-purple);
    text-transform: uppercase;
    margin-bottom: 27px;
}

.contact-title {
    margin-bottom: 13px;
}

.information-link,
.my-profile-link,
.your-account-link,
.lookbook-link,
.contact-link {
    font-weight: 100;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    color: var(--warm-grey-three);
}

.contact-item {
    display: flex;
    margin-bottom: -27px;
}

.contact-item:nth-child(2) {
    margin-bottom: 1px;
}

.contact-item,
.contact-email-send,
.adress-connection {
    color: var(--warm-grey-three);
    font-weight: 400;
}

.contact-email-send {
    letter-spacing: 0.3px;
    font-size: 13px;
}

.connection {
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    color: var(--black);
    margin-right: 3px;
}

.tel-connection {
    margin-top: 17px;
    letter-spacing: 0.5px;
}

.copyright {
    background-color: var(--white);
    padding-top: 35px;
    padding-bottom: 35px;
}

.site-copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: var(--warm-grey-three);
    margin-bottom: 43px;
    margin-top: -8px;
    margin-left: 47px;
}

.footer-logo {
    margin: 0 auto;
    width: 193px;
}