.footer {
    background-color: var(--grey-two);
    margin-top: -313px;
    padding-top: 320px;
}

.section-wrapper {
    display: flex;
    margin-left: 406px;
}

.section-wrapper>section {
    width: 200px;
    margin-right: 108px;
}

.information-title,
.my-profile-title,
.your-account-title,
.lookbook-title,
.contact-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    color: var(--dirty-purple);
    text-transform: uppercase;
}

.information-link,
.my-profile-link,
.your-account-link,
.lookbook-link,
.contact-link {
    font-weight: 100;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    color: var(--warm-grey-three);
}

.contact-item,
.contact-email-send {
    color: var(--warm-grey-three);
}

.connection {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    color: var(--black);
}

.copyright {
    background-color: var(--white);
    padding-top: 35px;
    padding-bottom: 35px;
}

.site-copyright {
    font-weight: 100;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: var(--warm-grey-three);
    margin-bottom: 48px;
}

.footer-logo {
    margin: 0 auto;
}