.header {
    margin-bottom: -1px;
}

.header::before {
    content: "";
    width: 1920px;
    height: 7px;
    position: absolute;
    top: 101px;
    left: 0;
    background-color: var(--beige);
}

.header-wrap {
    padding: 26px 54px 15px 108px;
    width: 1637px;
    display: flex;

}

.logo {
    text-transform: uppercase;
    color: var(--black);
    font-size: 14px;
    width: 223px;
    line-height: 17px;
    margin-right: 218px;
    text-align: center;
}

.fashion {
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 26px;
}

.header-nav {
    width: 1696px;
    display: flex;
    padding-top: 11px;
}

.nav-list {
    width: 1060px;
    display: flex;
}

.nav-item {
    width: 159px;
    margin-right: -17px;
}

.nav-item:nth-child(3) {
    margin-right: 4px;
}

.nav-item:nth-child(4) {
    margin-right: -37px;
}

.nav-link {
    font-weight: 100;
    text-transform: uppercase;
    color: var(--black-seven);
    font-size: 11px;
    letter-spacing: 2px;
}

.item-stores {
    letter-spacing: 2px;
}

.nav-button {
    width: 66px;
    display: flex;
    margin-left: 236px;
}

.icon-basket {
    margin-right: 19px;
    width: 15px;
    margin-top: 5px;
}

.icon-bag-img {
    width: 17px;
    height: 21px;
}

.btn-search {
    margin-right: 28px;
    width: 15px;
    margin-top: -25px;
}

.icon-search {
    width: 15px;
    height: 21px;
}

.btn-menu {
    width: 20px;
    margin-top: -24px;
}

.icon-menu {
    width: 17px;
    height: 76px;
}