:root {
    --black: #000;
    --black-two: #292929;
    --black-three: #2b2b2b;
    --black-four: #2d2b27;
    --black-five: #1a1a1a;
    --black-six: #353535;
    --black-seven: #171717;
    --black-eight: #202020;
    --black-nine: #221e1e;
    --white: #ededed;
    --beige: #f3ebdc;
    --white-two: #fff;
    --greyish: #afafaf;
    --warm-grey: #898989;
    --very-light-brown: #d9c8aa;
    --white-four: #d9d9d9;
    --warm-grey-two: #7d7d7d;
    --dirty-purple: #575153;
    --warm-grey-three: #727272;
}