:root {
    --black: #000;
    --black-two: #292929;
    --black-three: #2b2b2b;
    --black-four: #2d2b27;
    --black-five: #1a1a1a;
    --black-six: #353535;
    --black-seven: #171717;
    --black-eight: #202020;
    --black-nine: #121212;
    --white-two: #ededed;
    --beige: #f3ebdc;
    --brown: #d9c8aa;
    --white: #fff;
    --white-grey: #ededed;
    --grey-two: #f8f8f8;
    --greyish: #afafaf;
    --brownish-grey: #5f5f5f;
    --warm-grey: #898989;
    --very-light-brown: #d9c8aa;
    --white-four: #d9d9d9;
    --warm-grey-two: #7d7d7d;
    --dirty-purple: #575153;
    --warm-grey-three: #727272;
    --greyish-brown: #535353;
}