.news {
    margin-left: 373px;
    margin-bottom: 147px;
}

.news-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-four);
    margin-bottom: 61px;
    letter-spacing: 2px;
    margin-left: -371px;
}

.news-slider {
    display: flex;
}

.news-slide {
    width: 572px;
    margin-right: 26px;
    position: relative;
}

.news-slide-wrapper {
    width: 498px;
    background-color: var(--white);
    padding: 4px 2px 0px 24px;
    position: absolute;
    top: 344px;
    left: 38px;
    letter-spacing: 0.5px;
}

.news-slide-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-four);
    margin-bottom: -11px;
}

.news-slide-data {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    color: var(--warm-grey-two);
}