.product-new {
    margin-bottom: 105px;
    margin-top: -290px;
    background-image: url(../../img/bg-product-new.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 59px 25px 61px 405px;
}

.product-new-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    color: var(--black-four);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

.product-new-subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: var(--black-five);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 24px;
}

.product-new-view {
    font-weight: 400;
    font-size: 12px;
    line-height: 74px;
    text-align: center;
    color: var(--black-three);
    background-color: var(--white);
    padding: 21px 35px 23px 32px;
    border-radius: 30px;
    margin-left: 621px;
    text-transform: uppercase;
    letter-spacing: 2px;
}