.product-tab {
    margin-left: 373px;
    margin-bottom: 25px;
}

.product-tab-header {
    margin-bottom: 58px;
    width: 1075px;
    display: flex;
    margin-left: 100px;
}

.tab-header-item {
    font-weight: 700;
    font-size: 19px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-four);
    width: 180px;
}

.item-spring {
    margin-right: 20px;
}

.product-tab-content {
    width: 1171px;
    display: flex;
    flex-wrap: wrap;
}

.tab-content-item {
    width: 277px;
    margin-right: 24px;
    position: relative;
}

.item-vintage {
    width: 470px;
    position: relative;
    margin-right: 30px;
}

.tab-content-wrapper {
    position: absolute;
    top: 101px;
    left: 39px;
}

.wrapper-men {
    top: 49px;
    left: 30px;
}

.wrapper-men>.content-product {
    margin-bottom: -22px;
}

.wrapper-men>.content-signature {
    width: 118px;
    margin-bottom: 37px;
}

.item-bags {
    transform: translateY(-179px);
}

.item-sunglass {
    transform: translate(500px, -253px);
}

.content-product {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    color: var(--black-two);
    margin-bottom: -12px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.item-sunglass>.content-signature {
    width: 276px;
    margin-top: -56px;
    margin-left: 86px;
    margin-bottom: 38px;
    font-size: 12px;
    letter-spacing: 1px;
}

.content-signature {
    width: 169px;
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    color: var(--black-four);
    margin-bottom: 40px;
    line-height: 24px;
    letter-spacing: 1px;
}

.content-sneakers {
    width: 154px;
    text-align: center;
    margin-top: -81px;
    margin-left: 52px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 26px;

}