.special-offer {
    display: flex;
    position: absolute;
    top: 620px;
    left: 1272px;
}

.special-offer-pic {
    width: 231px;
    height: 483px;
}

.special-offer-wrapper {
    width: 417px;
    background-color: var(--black);
    background-image: url("../../img/bg-counter.png");
    background-repeat: no-repeat;
    padding: 14px 51px 68px 40px;

}

.special-offer-title {
    font-weight: 700;
    font-size: 37px;
    line-height: 46px;
    text-align: left;
    text-transform: uppercase;
    color: var(--white-two);
    letter-spacing: 1px;
    margin-bottom: -15px;
}

.special-offer-subtitle {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
    text-align: left;
    color: var(--white-two);
}

.last-price {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    text-decoration: line-through;
    color: var(--white-two);
    margin-right: 9px;
    margin-left: 6px;
}

.new-price {
    font-weight: 700;
    font-size: 38px;
    line-height: 47px;
    text-align: left;
    text-transform: uppercase;
    color: var(--white-two);
    margin-right: 48px;

}

.special-offer-link {
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-nine);
    border-radius: 22px;
    background-color: beige;
}

.counter {
    display: flex;
    margin-top: 66px;
}

.counter-item {
    background-color: var(--white-two);
    border-radius: 20px;
    padding: 18px 12px 12px 23px;
    margin-right: 22px;
    letter-spacing: 1px;
}

.counter-item-minutes {
    padding-right: 13px;
    padding-left: 16px;
}

.counter-item-seconds {
    padding-left: 13px;
    padding-right: 14px;
}

.number-hourse,
.number-minutes,
.number-seconds {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-four);
}

.number-minutes {
    margin-left: 4px;
}

.number-seconds {
    margin-left: 18px;
}

.counter-hourse,
.counter-minutes,
.counter-seconds {
    font-weight: 700;
    font-size: 11px;
    line-height: 9px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-four);
}