.subscribe {
    margin-left: 375px;
    margin-bottom: 104px;
    padding: 30px 525px 42px 115px;
    background-image: url('../../img/bg-subscribe.jpg');
    background-repeat: no-repeat;
}

.subscribe-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    color: var(--black-five);
    letter-spacing: 1.8px;
    margin-bottom: 18px;
}

.subscribe-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    letter-spacing: 6.3px;
    text-transform: uppercase;
    color: var(--black-five);
    margin-left: 34px;
    margin-bottom: 23px;
}

.btn-subscribe {
    font-size: 14px;
    margin-left: 165px;
    letter-spacing: 1px;
    padding: 31px 52px 27px 47px;
    border-radius: 35px;
}